<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <style>
            body {
                background-color: #1b2838;
                color: #b8b6b4;
                font-family: "Segoe UI", sans-serif;
            }

            form {
                padding: 10px;
                box-shadow: 0px 0px 4px black;
                background-color: rgba(84, 133, 183, 0.2);
            }

            textarea {
                background-color: rgba(0, 0, 0, 0.6) !important;
                border-radius: 4px !important;
                border: none !important;
                color: #b8b6b4 !important;
            }

            textarea::-moz-placeholder {
                color: #6d6f73 !important;
            }

            textarea::-webkit-input-placeholder {
                color: #6d6f73 !important;
            }

            textarea:-ms-input-placeholder {
                color: #6d6f73 !important;
            }

            textarea:focus {
                box-shadow: none !important;
            }
        </style>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="container">
            <h1>
                steam-match-web
            </h1>
            <form action="/list" method="POST">
                <p>
                    Profile links, separated by commas
                </p>
                <textarea class="form-control" name="input" placeholder="https://steamcommunity.com/id/steffo1999/, https://steamcommunity.com/id/corriscappaceilnemesis, http://steamcommunity.com/profiles/76561198071099951/, igordragon99"></textarea>
                <div class="radio">
                    <label>
                        <input type="radio" name="op" value="and">
                        Display games owned by all profiles
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="op" value="or">
                        Display games owned by at least one profile
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="op" value="xor">
                        Display games owned by either the first or the second profile
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="op" value="diff">
                        Display games owned by the first profile but not by the second
                    </label>
                </div>
                <input class="btn btn-primary" type="submit" value="Send">
            </form>
        </div>
    </body>
</html>
