<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <style>
            .steamicon
            {
                width: 32px;
                height: 32px;
                display: inline-block;
                vertical-align: middle;
            }

            body {
                background-color: #1b2838;
                color: #b8b6b4;
                font-family: "Segoe UI", sans-serif;
            }

            a, a:visited {
                color: #66C0F4;
            }

            a:hover, a:focus, a:active {
                color: #fff !important;
                text-decoration: none;
            }

            .extra-margin {
                margin-bottom: 8px !important;
            }
        </style>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="container">
            <h1>
                steam-match-web
            </h1>
                {% for row in l|batch(3) %}
                    <div class="row">
                        {% for game in row %}
                            <div class="col-md-4 extra-margin">
                                {{ game }}
                                {% if game.icon is equalto "" %}
                                    <div class="steamicon"></div> <a href="http://store.steampowered.com/app/{{ game.appid }}/">{{ game.name }}</a>
                                {% else %}
                                    <img class="steamicon" src="http://media.steampowered.com/steamcommunity/public/images/apps/{{ game.appid }}/{{ game.icon }}.jpg"> <a href="http://store.steampowered.com/app/{{ game.appid }}/">{{ game.name }}</a>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
